##Common file types to ignore:
#Automatic backup files created by many editors:
*~*
#Custom folder icon files in Mac OS X
*.Icon?
#Folder arrangement files created in Mac OS X
*.DS_Store

src/node_modules/*
src/platforms/*
src/plugins/*
src/bower_components/*

#Visual Studio Code:
.idea/*
.vscode/*
jsconfig.json
Typings/*