<?xml version='1.0' encoding='utf-8'?>
<widget id="com.duke.networkcanvas" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Duke Network Canvas</name>
    <description>
        A HTML5 and JavaScript based personal network capture tool. Adapted from Network Canvas by Duke University.
    </description>
    <author email="marta.mulawa@duke.edu">
        Marta Mulawa
    </author>
    <content src="index.html" />
    <icon src="resources/icons/netCanvas-icon.png" />
    <preference name="orientation" value="landscape" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="exit-on-suspend" value="true" />
    <access origin="*" />
    <allow-navigation href="*://*.example.com/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-statusbar" spec="^2.4.1" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1" />
    <plugin name="cordova-plugin-mfilechooser" spec="^1.0.2" />
    <engine name="android" spec="~6.3.0" />
</widget>
